<tr>
  <td><%= routine_exercise.exercise.name %></td>
  <td><%= routine_exercise.day_of_week %></td>
  <td><%= routine_exercise.sets %></td>
  <td><%= routine_exercise.reps %> <%= routine_exercise.reps_unit %></td>
</tr>
