<% content_for :title, "Editing routine" %>

<%= pb_rails('title', props: {text: "Edit #{@routine.name}", tag: 'h1'}) %>

<%= render "form", routine: @routine %>

<%= pb_rails('title', props: {text: "Exercises", tag: 'h2'}) %>
<%= render "exercises_table", routine_exercises: @routine_exercises %>

<h3>Add Exercise To Routine</h3>
<%= render "routine_exercise_form" %>

<div>
  <%= link_to "Show this routine", @routine %> |
  <%= link_to "Back to routines", routines_path %>
</div>
