<p style="color: green"><%= notice %></p>

<% content_for :title, "Routines" %>

<%= pb_rails('flex', props: {justify: 'between'}) do %>
  <%= pb_rails('flex/flex_item') do %>
    <%= pb_rails('title', props: {tag: 'h1', text: 'Routines'}) %>
  <% end %>
  <%= pb_rails('flex/flex_item') do %>
    <%= pb_rails("button", props: { text: "New Routine", aria: { label: "New Routine" }, tag: "a", link: new_routine_path }) %>
  <% end %>
<% end %>

<%= pb_rails("table", props: { collapse: "sm" }) do %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Workout</th>
    </tr>
  </thead>
  <tbody>
    <% @routines.each do |routine| %>
      <%= render routine %>
    <% end %>
  </tbody>
<% end %>
