<p style="color: green"><%= notice %></p>

<%= pb_rails('title', props: {tag: 'h1', size: 1, text: @routine.name}) %>

<%= render 'exercises_table', routine_exercises: @routine_exercises %>

<div>
  <%= link_to "Edit this routine", edit_routine_path(@routine) %> |
  <%= link_to "Back to routines", routines_path %>

  <%= button_to "Destroy this routine", @routine, method: :delete %>
</div>
