<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exercise.description %>
  </p>

  <% if exercise.url %>
    <strong>Image:</strong>
    <img src=<%= exercise.url %> width='350px'>
    <p><%= exercise.url %></p>
  <% end %>
</div>
