<%= pb_form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name, props: { label: true } %>
  <%= form.text_field :description, props: { label: true } %>
  <%= form.text_field :url, props: { label: true } %>
  <%= form.actions do |action| %>
    <%= action.submit %>
  <% end %>
<% end %>
